* {
  outline: 1px orange solid;
}

#mapbox-container {
  margin: 10vh auto;
  height: 60vh;
  width: 60vw;
  border: 1px black solid;
}



.location-input {
  display: block;
  margin: 0 auto;
  width: 50vw;
}

