* {
  /* outline: 1px orange solid; */
}

* {
  padding: 0px;
  margin: 0px;
}

#mapbox-container {
  height: 100vh;
  width: 100vw;
  outline: 1px solid black;
}

.location-input {

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;

  position: absolute;
  top: 1em;
  z-index: 100;
  height: 2em;

  width: 90vw;
  margin: 0 1em;
}

.location-input input{
  grid-column: 1;
  grid-row: 1;
 
  border-radius: 1em;
  border: none;
  height: 100%;
  /* padding-left: 1em; */
  width: 90vw;
  font-size: 1em;
  box-sizing: border-box;
  padding-left: 1em;

  border: 3px solid #07A0C3;
}

.location-input button{
  grid-column: 2;
  grid-row: 1;
  border: none;
  border-radius: 1em;
  width: 30vw;
  justify-self: right;

  border: 3px solid #07A0C3;
}

.invisible-input {
  display: none;
}

.marker {

  background-color: #07A0C3;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 1;
  box-shadow: inset 0px 0px 30px -15px rgba(124, 124, 124, 0.5);
  animation-name: appear-to-screen;
  animation-duration: 1s;
  cursor: pointer;
}

@keyframes slow-blink {

  0% { opacity: 0; }
  10% { opacity: 0.6; height: 16px; width: 16px; }
  20% { opacity: 0.5; height: 20px; width: 20px;}
  30% { opacity: 0.45; height: 24px; width: 24px;}
  40% { opacity: 0.35; height: 28px; width: 28px;}
  50% { opacity: 0.25; height: 32px; width: 32px;}
  60% { opacity: 0.20; height: 36px; width: 36px;}
  70% { opacity: 0.15; height: 40px; width: 40px;}
  80% { opacity: 0.10; height: 44px; width: 44px;}
  90% { opacity: 0.05; height: 48px; width: 48px;}
  100% { opacity: 0; }
}

@keyframes appear-to-screen {

  0%    { opacity: 0;     }
  20%   { opacity: 0.2;   }
  40%   { opacity: 0.4;  }
  60%   { opacity: 0.6;  }
  80%   { opacity: 0.8;  }
  100%  { opacity: 1;     }
}

.marker:hover {
  animation-name: slow-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.mapboxgl-popup {
  animation-name: appear-to-screen;
  animation-duration: 0.3s;
  max-width: 20em;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  border-radius: 20px;
}

.popup-pic {
  max-width: 18em;
  overflow-y: hidden;
  border-radius: 20px;
}
